---
---

@import "{{ site.theme }}";

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

#header_wrap {
  background-image: url("../images/bedrock.png");
  background-repeat: repeat;
  background-size: 100px;
}

#forkme_banner {
  background-color: #74b04c;
}

.header-container {
  display: flex;
  align-items: center;
  
  .logo img {
    border: none;
    box-shadow: none;
    height: 200px;
    margin-right: 32px;
  }

  .nav {
    display: flex;
    list-style: none;
    padding-left: 0;

    li {
      font-weight: bold;
      margin-right: 16px;

      a {
        color: white;
      }

      &.active a {
        text-decoration: underline;
      }

      &.disabled a {
        color: gray;
      }
    }
  }
}

#main_content_wrap {
  flex: 1 1 auto;
}

#footer_wrap {
  background-image: url("../images/bedrock.png");
  background-repeat: repeat;
  background-size: 100px;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  #header_wrap, #main_content_wrap, #footer_wrap {
    padding: 8px;
  }
}
